<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to the index.ejs file in the views folder</h1>
    <h2>
        <%= 25+50+5 %>
    </h2>
    <% if(false){ %>
        <h2>hello i am in if block</h2>
        <% } else{ %>
            <h2>hey I am in else block</h2>
            <% } %>


    <% for(let item of arr){ %>
        <h1>  <%=item%> </h1>
    <% } %>

</body>

</html>